.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 10;
  
    .orderCount {
      font-size: 20px;
      font-weight: bold;
    }
  
    .customerInfo,
    .orderDetails {
      text-align: center;
    }
  }
  