.container {
  background-color: #fff;
  color: white;
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.headerSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #4a5568;
  /* gray-700 */
  padding: 10px;
  max-height: 80px;
}

.orderCode {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  /* text-2xl */
  background-color: #2d3748;
  /* gray-800 */
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.infoSection {
  text-align: center;
}

.label {
  font-size: 0.875rem;
  /* text-sm */
  color: #000;
  /* gray-400 */
}

.value {
  font-weight: bold;
  color: #000;
}

// .productLocationSection {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 1rem;
// }

.productList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.productItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.productImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3748;
  /* gray-800 */
  padding: 0.5rem;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  row-gap: 32px;
}

.productImage {
  width: auto;
  height: 11rem;
  border-radius: 0.5rem;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.productQuantity {
  margin-left: 1rem;
  background-color: #4a5568;
  /* gray-700 */
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.locationDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.locationDetails>*:not(:last-child) {
  margin-right: 0.5rem;
}

.locationItem {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a5568;
  /* gray-700 */
  border-radius: 0.5rem;
  color: white;
  font-size: 1.125rem;
  /* text-lg */
  font-weight: bold;
}

.width5rem {
  width: 5rem;
}

.footer {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  background-color: #2d3748;
  gap: 20px;
  /* gray-800 */
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.pickerInfo {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding-left: 16px;
  white-space: nowrap;
}

.pickerName {
  color: white;
  font-weight: bold;
}

.containerInfo {
  font-size: 0.875rem;
  /* text-sm */
  color: #cbd5e0;
  /* gray-400 */
}

.barcodeMenu {
  height: 100%;
  width: 70%;
}

.barcodeError {
  background: #f56565;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  border-radius: 10px 0 0 10px;

  svg {
    width: 32px;
    height: 32px;
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.barcodeImage {
  width: 8rem;
  height: auto;
  margin-bottom: 0.5rem;
  margin-left: auto;
}

.barcodeText {
  color: #cbd5e0;
  /* gray-400 */
}

.warningButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.warningButton {
  background-color: #f56565;
  /* red-500 */
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.warningButton:hover {
  background-color: #c53030;
  /* red-700 */
}

// Button Colors
.G {
  background-color: #22c55e;
  color: #ffffff;
}

.W {
  background-color: #e5e7eb;
  color: #374151;
}

.BK {
  background-color: #000000;
  /* black */
  color: #ffffff;
  /* white */
}

.R {
  background-color: #ef4444;
  color: #ffffff;
}

.B {
  background-color: #3b82f6;
  /* blue-500 */
  color: #ffffff;
  /* white */
}

.GY {
  background-color: #6b7280;
  color: #ffffff;
}

.O {
  background-color: #f97316;
  color: #ffffff;
}

.W2 {
  background-color: #d1d5db;
  color: #374151;
}

.R2 {
  background-color: #dc2626;
  color: #ffffff;
}

.B2 {
  background-color: #2563eb;
  color: #ffffff;
}

.Y {
  background-color: #facc15;
  color: #374151;
}

.P {
  background-color: #f9a8d4;
  color: #374151;
}

.LI {
  background-color: #d8b4fe;
  color: #ffffff;
}

.disabledItem {
  opacity: 0.5;
  pointer-events: none;
  background-color: #f8f8f8;
}